
 
<section id="end-pills">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
              
                <div class="card-content">
                    <div class="card-body">
                    
                        <ul class="nav nav-pills justify-content-start">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-end" data-toggle="pill" href="#home-end" aria-expanded="true">Risale-i Nur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="profile-tab-end" data-toggle="pill" href="#profile-end" aria-expanded="false">Arama/araştırma</a>
                            </li>
                          
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home-end" aria-labelledby="home-tab-end" aria-expanded="true">
                                 
                                <div class="content-header-left mb-1">
                                    <div class="row breadcrumbs-top"> 
                                             
                                            <div class="breadcrumb-wrapper">
                                                <ol class="breadcrumb" style="border-left:initial">
                                                    <li class="breadcrumb-item">
                                                        <a href="#">Risale</a>
                                                    </li>
                                                    <li class="breadcrumb-item">
                                                        <a href="#">Sözler</a>
                                                    </li>
                                                    <li class="breadcrumb-item active">
                                                        8. Söz
                                                    </li>
                                                </ol>
                                            </div>
                                       
                                    </div>
                                </div>

                                <div class="article">
                                    <h1>Risale oku</h1>
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <div class="tab-pane " id="profile-end" role="tabpanel" aria-labelledby="profile-tab-end" aria-expanded="false">
                                <div class="article">
                                    <h1>araştır</h1>
                                    <div class="divider"></div>  
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>